@{
    ViewData["Title"] = "Поиск аниме";
}

<h1>@ViewData["Title"]</h1>
<br/>
<div class="container">
    <div class="row">
        <div class="col-2">
            <label class="col-form-label">Название аниме</label>
        </div>
        <div class="col-8">
            <input class="form-control" id="search-query" />
        </div>
        <div class="col-2">
            <button class="btn btn-primary search">Поиск</button>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label class="col-form-label">Провайдеры</label>
        </div>
        <div class="providers col-10">
        </div>
    </div>
</div>

<div class="container anime-result">
</div>

<script>
    var providers = [];
    var response_test = [];

    function GetProviders() {
        $.get('/api/providers', null, function (response, code) {
            providers = response;

            var providersDiv = $('.providers');
            for (var providerIterator in providers) {
                var provider = providers[providerIterator];
                let html = ' \
<label class="checkbox provider-checkbox"> \
  <input type="checkbox" value="' + providerIterator + '"> \
  ' + provider.name + ' \
  <img src="' + provider.favicon + '" id="provider-favicon"> \
</label>';
                providersDiv.append(html);
            }
        });
    }

    function SearchAnime() {
        $('.provider-checkbox > input:checked').each(function (element) {
            $('.anime-result').html('');
            var provider = providers[$(this).val()];
            $.get("/api/search", { providerName: provider.technicalName, query: $('#search-query').val() }, function (response, status) {
                for (var seriesIterator in response) {
                    let series = response[seriesIterator];
                    let html = '\
<div class="container anime-result-element" onclick="location.href=\'' + series.url + '\';"> \
  <div class="row"> \
    <div class="col-12"> \
      <img src="' + series.poster + '" class="rounded center poster" alt="' + series.title + '"> \
    </div> \
  </div> \
  <div class="row"> \
    <div class="col-12"> \
      <label class="poster-label">' + series.title + '</label> \
    </div> \
  </div> \
</div>';
                    $('.anime-result').append(html);
                }
            });
        });
    }
    
    $(function () {
        GetProviders();
        $('.search').click(function () { SearchAnime(); });
        $('#search-query').keyup(function (event) {
            if (event.keyCode === 13) {
                $('.search').click();
            }
        });
    });
</script>